<div class="content">
    <mat-form-field class="search-form-field" appearance="fill">
    <mat-label>Search Pokemons</mat-label>
  <input #searchInput matInput type="text" [(ngModel)]="value" autocomplete="off" (input)="handleSearch(searchInput)">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; filterdPokemons = pokemons">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>  
    <div class="pokemon-grid">
        <div [style.backgroundColor]="getBackgroundColorByType(pokemon['types'][0]['type']['name'])" class="box"  *ngFor="let pokemon of filterdPokemons; let i=index;" (click)="openDialog(pokemon, i, typeColors)">
           
            <div class="poke">
                <div class="pokemon-id-number">
                    #{{getPokemonID(i+1)}}
                </div>
                <div class="pokemon-name">
                    {{pokemon.name}}
                </div>
            </div>
            <div class="container">
                <div class="pokemon-type">
                    {{pokemon.types[0].type.name}}
                </div>
                <div class="pokemon-image">
                    <img [src]="pokemon.sprites.other.dream_world.front_default" alt="Pokemon">
                </div>
            </div>
        </div>       
    </div>
    <button mat-raised-button color="primary" (click)="nextPokemons()">More Pokemons</button>
    