* {
    padding: 0;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
    padding: 0 !important;
    border-radius: 16px !important;
}
